/*exe
/*dll
/*.mdb
Makefile.in
Makefile
/test-run-data
/html_report
/shocker-log.txt
/comparison_report.html
.deps
.libs
/uris
/uris-uri-test.o
/regression_report.txt
/objecttypes/objecttypes
/objecttypes/objecttypes-objecttypes.o
/*.pidb
/drtlist.xml
/harness-output
