/*.dll
/*.dll.mdb
/site
/App.xaml.g.cs
/BasicCanvas.xaml.g.cs
/BindingXaml.xaml.g.cs
/AppManifest.xaml
/moon-unit.g.resources
/moon-unit.sources
/moon-unit.xap
/moon-unit2.xap
/moon-unit3.xap
/moon-unit4.xap
/*.pidb
/*.suo
/*.user
/obj
/Bin
