Microsoft.Silverlight.Testing.dll
Microsoft.Silverlight.Testing.dll.mdb
Microsoft.VisualStudio.QualityTools.UnitTesting.Silverlight.dll
Microsoft.VisualStudio.QualityTools.UnitTesting.Silverlight.dll.mdb
Mono.Moonlight.UnitTesting.dll
Mono.Moonlight.UnitTesting.dll.mdb
System.Windows.Controls.Data.dll
System.Windows.Controls.Data.dll.mdb
System.Windows.Controls.dll
System.Windows.Controls.dll.mdb
System.Xml.Linq.dll.mdb
System.Xml.Linq.dll
