/configure
/Makefile
/Makefile.in
/config.guess
/config.h
/aclocal.m4
/missing
/config.sub
/ltmain.sh
/stamp-h1
/install-sh
/config.log
/depcomp
/config.status
/config.h.in
/libtool
/autom4te.cache
/moon.pc
/*.userprefs
/*.usertasks
/*.pidb
*~
*.swp
*#*#
/confdefs.h
/doltcompile
/doltlibtool
/shocker-log.txt
xdb.*
/demo-status.html
