/compile
/config.log
/config.h
/config.h.in
/Makefile
/config.status
/stamp-h1
/libtool
/autom4te.cache
/configure
/Makefile.in
/config.guess
/config.sub
/ltmain.sh
/aclocal.m4
/doltcompile
/doltlibtool
/cairo-uninstalled.pc
/cairo-ft-uninstalled.pc
/cairo-pdf-uninstalled.pc
/cairo-png-uninstalled.pc
/cairo-ps-uninstalled.pc
/cairo-svg-uninstalled.pc
/cairo-xlib-uninstalled.pc
/cairo-xlib-xrender-uninstalled.pc
/build/ltmain.sh
/build/aclocal.dolt.m4
/build/libtool.m4
/build/ltoptions.m4
/build/ltsugar.m4
/build/ltversion.m4
/build/lt~obsolete.m4
