<html xmlns="http://www.w3.org/1999/xhtml" >
	<head>
		<title>Xaml screenshot</title>
	</head>
	<body scroll="no" style='border-width: 0px'>
		<!--	You need to fix up the js paths when copying this file to a subdirectory	-->
		<script type="text/javascript" src="../../js/js/utils.js"></script>
		<script type="text/javascript" src="../../js/js/testplugin.js"></script>

		</script>

		<script type="text/javascript">
			window.moveTo (0,0);
			window.resizeTo (screen.availWidth, screen.availHeight);
			
			function OnPluginError (sender, args)
			{
				TestLogger.LogError (ErrorEventArgsToOneLineString (args));
				TestLogger.LogResult (-1);
				SignalShutdown ();
			}

			function OnPluginLoad (sender, args)
			{
				TestLogger.LogDebug ("OnPluginLoad");
			}
		</script>
		<embed type='application/x-silverlight' width='100' height='100' 
			id='_MoonlightControl' Source='SampleTest.xap' OnError='OnPluginError' OnLoad='OnPluginLoad'
			style=position:absolute;top:0px;left:0px;height:100%;width:100%;
			background='white' >
		</embed>
	</body>
</html>
