/compile
/config.log
/config.status
/stamp-h1
/config.h
/pixman-1.pc
/libtool
/Makefile
/autom4te.cache
/configure
/Makefile.in
/config.guess
/config.sub
/config.h.in
/ltmain.sh
/aclocal.m4
/pixman-1-uninstalled.pc
