/Makefile.in
/codec-version.h
/demo
/sizes
/.libs
/.deps
/Makefile
/.settings
/.cproject
/.project
/parsertest
/*.pidb
/*.d
/*.pc
/.prec
/bin
/*.lo
/*.la
/*.loT
fullscreen.h
incomplete-support.h
xaml-to-header.exe
drm.h

