Makefile
Makefile.in
aclocal.m4
aclocal.m4.bak
config.guess
config.sub
config.log
config.status
configure
configure.gnu
curl-config
depcomp
.deps
.libs
*.lo
*.la
libcurl.pc
libtool
ltmain.sh
libtool.m4
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
compile
missing
stamp-h*
*.spec
curl.list
autom4te.cache
